body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(210, 210, 210);
}

#seccion-principal{
    width: 100%;
    max-width: 800px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
}

.primera-caja{
    justify-content: center;
    padding: 40px 30px 40px 30px;
    border-radius: 10px 0px 0px 10px;
}

#ayuda{
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.segunda-caja {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
    border-radius: 0px 10px 10px 0px;
}

#ingresar{
    border: none;
}

#incribirse{
    border: 2px solid white;
    padding: 6px 30px 6px 30px;
}

input{
    border-radius: 20px;
}

#iniciar{
    font-size: 1.5rem;
}

button{
    border-radius: 20px;
}

a{
    text-decoration: none;
    color: white;
}